:root {
	--white: #ffffff;
	--black: #000000;
	--orange: #ff7700;
	--dark-blue: #002a3f;
	--blue: #00aaff;
	--grey: #222222;
	font-family: monospace;
	font-size: 100%;
	font-size: 1em;
	background-color: var(--black);
	margin: 0px;
	color: var(--black);
	text-align: center;
}

body {
	color: var(--white);
	font-size: 1em;
	margin: 8px;
}

#main-body {
	background-color: var(--dark-blue);
	width: 89%;
	margin: 5.5% auto;
}

h1, h2 {
	background-color: var(--grey);
	font-size: 2em;
	color: var(--orange);
	padding: 24px 0px;
}

h2 {
	padding: 12px 0px;
	width: 78%;
	margin: auto;
}

hr {
	width: 33%;
	border: 1px solid var(--white);
	background-color: var(--white);
}

p {
	padding: 12px;
	margin: auto;
	width: 78%;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: var(--blue);
}

a:hover {
	color: var(--white);
}

table {
	margin: auto;
	border-collapse: collapse;
	width: 78%;
	font-size: 1.25em;
}

td {
	padding: 12px 0;
	width: 50%;
}

td:not(:last-of-type) {
	border-right: 2px solid var(--white);
}

td:hover {
	background-color: var(--black);
}

header {
	margin: 0;
}

#burger {
	display: block;
	width: 12rem;
	cursor: pointer;
	padding: 8px;
	margin: 0px;
	font-family: monospace;
	font-size: 100%;
	font-size: 1em;
	font-weight: bold;
	transition-duration: 0.1s;
	background-color: var(--grey);
	border: 0px solid var(--grey);
	color: var(--blue);
}

#burger:hover {
	background-color: var(--dark-blue);
	color: var(--white);
}

#menu {
	position: absolute;
	display: none;
	left: 8px;
	width: 12rem;
	height: 100%;
	flex-direction: column;
	background-color: var(--grey);
}

#menu.show {
	display: flex;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 12px;
}

li:hover {
	background-color: var(--dark-blue);
}
