:root {
	--white: #dddde1;
	--black: #11110e;
	--orange: #e1aa11;
	--blue: #111121;
	font-family: sans-serif;
	background-color: var(--black);
	margin 12px;
	color: var(--black);
	text-align: center;
}

body {
	background-color: var(--blue);
	display: block;
	color: var(--white);
	width: 89%;
	padding-top: 24px;
	margin: auto;
}

h1, h2 {
	background-color: var(--orange);
	color: var(--black);
	padding-bottom: 24px;
}

h2 {
	padding-bottom: 12px;
	width: 33%;
	margin: auto
}

hr {
	width: 67%;
	color: var(--black);
}
